<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>

<div class="container espacamento espacamento-bottom small-screen">
    <div class="row">
        <div class="col-sm-3 border mr-2">
            Menu Lateral
        </div>
        <div class="col-sm-9">
            <div class="container border">
                <div class="row" id="card">
                    <div class="col bg-light p-3">
                        <h3>Cadastro de artigos</h3>
                        <hr>
                        <div class="card">
                            <div class="card-header">
                                <h2 class="mb-0">Novo artigo</h2>
                            </div>
                            <div class="card-body">
                                <form action="/articles/save" method="post">
                                    <div class="form-group">
                                        <label for="articleTitle" class="form-label"><strong>Título da artigo</strong></label>
                                        <input type="text" name="articleTitle" id="articleTitle" class="form-control" placeholder="Informe o título da categoria ...">
                                    </div>
                                    <div class="form-group mt-4">
                                        <label class="form-label" for="bodyArticle"><strong>Artigo</strong></label>
                                        <textarea class="form-control" name="bodyArticle" id="bodyArticle" cols="30" rows="3" placeholder="Escreva seu artigo aqui..."></textarea>
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="category" class="form-label"><strong>Selecione uma categoria para o artigo</strong></label>
                                        <select class="form-select" name="category" id="category">
                                              <option selected>Selecione uma categoria para o artigo</option>
                                              <hr>
                                              <% categories.forEach(category => { %>
                                                <option value="<%= category.id %>"><%= category.title %></option>
                                              <% }) %>  
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success w-100 hover mt-3">
                                        <i class="fa-solid fa-plus"></i>
                                        Cadastrar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../partials/footer') %>
<%- include('../../partials/endHtml') %>

<!-- Import TinyMCE -->
<script src="/tinymce/tinymce.min.js"></script>
<!-- Setting tinymce -->
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#bodyArticle",
        plugins: 'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    })
</script>