<%- include('../../partials/header') %>
<%- include('../../partials/navbar') %>

<div class="container espacamento">
    <div class="row">
        <div class="col-12">
            <h2 class="mt-5">Categorias cadastradas</h2>
            <a href="/admin/categories/new" class="btn btn-outline-success hover mt-3">
                Criar nova categoria
            </a>
            <hr>
            <table class="table table-hover bg-light table-success">
                <thead>
                    <tr>
                        <th scope="col">#Id</th>
                        <th scope="col">Título</th>
                        <th scope="col">Slug</th>
                        <th scope="col">Açoes</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <% categories.forEach(category => { %>
                        <tr>
                            <th scope="row"><%= category.id %></th>
                            <td><%= category.title %></td>
                            <td><%= category.slug %></td>
                            <td>
                                <button class="btn btn-warning btn-sm d-inline-block hover">
                                    <i class="fa-solid fa-pencil"></i>
                                </button>
                                <form action="/categories/delete" method="post" class="d-inline" onsubmit="confirmToDelete(event,this)">
                                    <input type="hidden" name="categoryId" value="<%= category.id %>">
                                    <button class="btn btn-danger btn-sm d-inline-block hover">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>    
        </div>
    </div>
</div>

<%- include('../../partials/footer') %>
<%- include('../../partials/endHtml') %>

<!-- Script to confirm delete -->
<script>
    function confirmToDelete(event, form){
        event.preventDefault();
        let decision = confirm("Você tem certeza que quer deletar essa categoria?");
        if(decision) {
            form.submit();
        }
    }    
</script>