<%- include('partials/header') %>
<%- include('partials/homenavbar') %>

<div class="container espacamento espacamento-bottom1 small-screen">
    <div class="row mb-5 ">
        <div class="col-sm-12">
            <hr>
            <div class="jumbotron text-light p-5" id="jumbotron">
                <div class="container">
                    <h1 class="display-3">Bem vindos ao blog GuiaPress !!!</h1>
                    <p class="lead text-justify ">
                        Este blog foi criado para que developers, programmer que estão iniciando tirem sua dúvidas. E para os
                        mais experientes uma ótima oportunidade de compartilhar seus conhecimentos!
                    </p>
                    <hr>
                    <p class="lead">
                      Galera divirtam-se ! 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 border rounded">
            Menu lateral
        </div>
        <div class="col-sm-9">
            <% articles.forEach(article => { %>
                <div class="card mb-4">
                    <div class="card-header">
                        <strong><%= article.title %></strong>
                    </div>
                    <div class="card-body">
                        <a href="/<%= article.slug %>" class="btn btn-success w-100 hover">Ler artigo</a>
                    </div>
                </div>
            <% }) %>
        </div>    
    </div>
    <div class="row mt-3 border rounded">
        <div class="col-sm-12">
            <div class="p-4">
                <a class="btn btn-outline-success hover next mb-3" href="/articles/page/2">
                    Next 
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </div> 
            <div style="clear: both ;"></div>
        </div>  
    </div>
</div>
<%- include('partials/footer') %>
<%- include('partials/endHtml') %>